html {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

body {
	font-size: .875rem;
	overflow-y: visible;
	background: #F5FFFA;
	/* linear-gradient( 30deg, rgb(194,229,156), rgb(100,179,244)) fixed; */
	font-family: 'Roboto Mono', monospace;
	height: 100%;
}
#app {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.main-container {
	flex: 1 1 auto;
}
input:hover,
input:active,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
select,
select:hover,
select:active
{
	outline:0 !important;
	-webkit-appearance:none;
	box-shadow: none !important;
}
.component-fade-enter-active, .component-fade-leave-active {
	transition: opacity .1s ease;
}
.component-fade-enter, .component-fade-leave-to
{
	opacity: 0;
}
.params {
	box-shadow: 0 0 10px rgba(65,105,225,.3);
	background-color: rgba(255, 255, 255, .4);
}